html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lavender;
}
button{
    background-color: #fff;
    color: #000;
    font-size: 20px;
    border: 2px solid blue;
}
button:hover{
    cursor: pointer;
    background-color: green;
}